* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 35px;
}

.container {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container div {
    height: 100%;
    width: 20%;
    background-color: palevioletred;
    color: rgb(71, 14, 33);
    font-size: 1.9rem;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    scale: 1;
    animation-name: var(--animName);
    animation-duration: 0.15s;
}
.container div:hover {
    scale: 1.03;
    cursor: pointer;
}


@keyframes glizz {
    0% {rotate: -5deg;}
    50% { rotate: 10deg;}
    100% { rotate: 0deg;}
}